.lead
  .lead__info
    .lead__info-logo 
      a(href="/") 
        img(src="../assets/images/Revo.png", alt="logo", width="250")
    .lead__info-title
      h1 Your
        p.selected__title personalized 
        p coffee
  .lead__photo 
  .column__background
  nav.lead__menu
    ul.lead__menu-list 
      li.lead__menu-item 
        .lead__menu-basket 
          img(src="../assets/images/basket.svg", alt="basket")
      li.lead__menu-item COFFEE
      li.lead__menu-item PHIN MẠ MÀU
      li.lead__menu-item GIFTSET