:root {
  --color-accent: #C7A17A;
  --color-light: #ffffff;
  --color-light-alt: #EDF0F5;

  --color-bg: #F9FBFF;
  --color-shadow: 205, 205, 205;
  --color-text-base: #415167;

  --transition-duration: 750ms;


  --font-family-base: 'Nunito', sans-serif;
  --font-family-secondary: 'Montserrat', sans-serif;
}